<div>
	<h1>Subtitles Home</h1>
</div>

<div>
	<h3>Browse Subtitles</h3>
</div>

<div class="col-md-8">
	<div class="box">
		<ul>
			<% @subtitles.each do |subtitle| %>
			<li>
				<%=subtitle.title %>
				<p>Posted by <%= subtitle.user.email%></p>
				<p>Posted on <%= subtitle.submission_date %></p>
				<p><%= subtitle.description %></p>	
			</li>
			<% end %>
		</ul>
	</div>
</div>
