<div class="col-md-8">
		<div class="box">
			<ul>
				<% @subtitles.each do |subtitle| %>
				<li>
					<%=subtitle.title %>
					<p>Posted by <%= subtitle.user.email%></p>
					<p>Posted on <%= subtitle.submission_date %></p>
					<p><%= subtitle.description %></p>	
				</li>
				<% end %>
			</ul>
		</div>
</div>