/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-theme";

$primary-green: #0CE3AC;

html {
 	background-image: url(got-still-bw.jpg);
 	background-repeat: repeat;
 	display: compact;
}

.browse-titles {
 	color: white;
 	background-color: black;
 	text-align: center;
 	border-radius: 3px;
 	width: 250px;
 	margin: 0 auto;
 	padding: 2px;
}

body {
 	background-color: transparent;
}

// navbar

.navbar-default  {
	background-color: transparent;
}
.navbar-default .navbar-nav {
	background-color: transparent;
	padding: 10px;
	li > a {
		color: black;
		font-size: 18px;
	}
	li > a:hover {
		color: white;
		background-color: black;
		font-size: 18px;
	}
}

.page-logo {
	color: black;
	font-size: 20px;
	border: 4px solid black;
	padding: 5px;

	&:hover {
		color: white;
		background-color: black;
	}
}

#search-form input {
	border-radius: 2px;
	border: 2px solid black;

	&:hover {
		border-color: orange;
		background-color: orange;
	}
}

#search-form input:hover {
	border-radius: 2px;
}

.search-button {
	background-color: black;
	margin-left: 5px;
}

#homepage {
	text-align: center;
}

.box {
	text-align: justify;
	li {
		border-radius: 3px;
		background-color: black;
		padding: 10px 40px;
		margin: 10px 0;
	}
}

.actions input {
	background-color: $primary-green;
}

#subtitle_file {
	font-size: 11px;
	color: white;
}

.jumbotron.upload-page {
	background-color: black;
}

.browse-titles {
	margin: 0 auto 180px;

	h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}